body {
    font-family: Arial;
    padding: 20px;
    background: #f5f5f5;
}

.product-card, .cart-item, .card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0 0 5px #bbb;
}

button {
    padding: 7px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-plus { background: #4caf50; color: white; }
.btn-minus { background: #ff9800; color: white; }
.btn-delete { background: #e53935; color: white; }
.btn-transaksi, .btn-back { background: #2196f3; color: white; width: 100%; margin-top: 15px; }

.total {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}